######################
######   Java   ######
######################

# Compiled class file
*.class

# Log file
*.log

######################
######   Maven  ######
######################

**/target/

